@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


/*-- reference--*/
:root{
    --orange-color: #ff7300;
    --gray-color: #5c5c5c;
    --pearl-color: #f2f8fc;
    --cream-color: #ebeaea;
}