@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


/*-- reference--*/
:root{
    --orange-color: #ff7300;
    --gray-color: #5c5c5c;
    --pearl-color: #f2f8fc;
    --cream-color: #ebeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* designs */
body{
    background-color: var(--cream-color);
}

.container{
    background:var(--pearl-color);
    width:400px;
    padding:1.5rem;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 700px;
    border-radius:30px;
    box-shadow:0 5px 15px var(--orange-color);
    border-color: var(--orange-color);
    border-width: 50px;
}

form{
    margin:0 2rem;
}

.container .form-title{
    font-size:1.6rem;
    font-weight:bold;
    text-align:center;
    padding:1.5rem;
    margin-bottom:0.4rem;
    color: var(--orange-color);
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd; 
    border-radius: 6px;
    padding: 8px 12px;
    transition: all 0.3s ease;
}


.input-group input {
    width: 100%;
    border: none;
    background: transparent;
    padding-left: 30px;
    font-size: 15px;
    outline: none;
}

.input-group i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
    transition: all 0.3s ease;
}

.input-group:hover i,
.input-group:focus-within i {
    color: var(--orange-color);
}

/* labels */
label {
    position: absolute;
    left: 2.5rem; 
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray-color);
    pointer-events: none;
    transition: all 0.3s ease;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: 0;
    left: 1rem;
    font-size: 0.8rem;
    background: var(--pearl-color);
    padding: 0 0.5rem;
}

/* forgot password */
.recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.recover a {
    text-decoration: none;
    color: var(--gray-color);
    display: inline-block; 
    transition: all 0.3s ease; 
}

.recover a:hover {
    color: var(--orange-color);
    transform: scale(1.09); 
   
}


/* buttons */
button{
    font-size:1.1rem;
    margin-left: 20px;
    padding:8px 0;
    border-radius:10px;
    outline:none;
    border:none;
    width:90%;
    background:var(--orange-color);
    color: var(--pearl-color);
    cursor:pointer;
    font-display: center;
    transition: all 0.3s ease; 
}

button:hover{
    transform: scale(1.09); 
}

.or{
    font-size:1.1rem;
    margin-top: 20px;
    text-align:center;
}

/* icon styles */
.icons{
    text-align:center;
}

.icons i{
    margin-top: px;
    color:var(--gray-color);
    padding:0.8rem 1.5rem;
    border-width: 4000px;
    font-size:1.5rem;
    cursor:pointer;
    border-radius: 100px;
    transition:0.3s;
}

.icons i:hover{
    color: var(--orange-color);
    font-size:1.6rem;
    transform: scale(5px);
   
}

.links{
    display:flex;
    justify-content:space-around;
    padding:0 4rem;
    margin-top:0.9rem;
    font-weight: 500;
}

 #signUpButton, #signInButton{
    color: var(--orange-color);
    border:none;
    background-color:transparent;
    font-size:1rem;
    font-weight:bold;
}


.messageDiv{
    background-color: var(--gray-color);
    color:var(--pearl-color);
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 7s forwards;
}